/* Global Styles */

@font-face {
font-family: "ISO";
src: url("../fonts/ISOv0.6-Regular.eot");
src:
url("../fonts/ISOv0.6-Regular.woff") format("woff"),
url("../fonts/ISOv0.6-Regular.otf") format("opentype"),
url("../fonts/ISOv0.6-Regular.svg#filename") format("svg");
}

@font-face {
font-family: "ISO-Light";
src: url("../fonts/ISOv0.6-Light.eot");
src:
url("../fonts/ISOv0.6-Light.woff") format("woff"),
url("../fonts/ISOv0.6-Light.otf") format("opentype"),
url("../fonts/ISOv0.6-Light.svg#filename") format("svg");
}

nav {
  font-family: ISO;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 40px 80px;
  border: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #D6D6D6;
}

a:active {
  text-decoration: none;
  color: white;
}

body {
  background-color: #D6D6D6;
  max-height: 1400px;
  scroll-behavior: smooth;
}

/* Homepage */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  padding-top: 175px;
}

.footerMain {
    text-align: center;
    font-weight: lighter;
}

.footerMainDescrip {
    font-size: 1em;
    font-family: ISO;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
    padding-top: 235px;
}

.footerMainImage {
  display: block;
  position: fixed;
  bottom: 0;
  padding: 0px 630px;
  width: 1%;
  height: 1%;
  padding-bottom: 40px;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; 
  z-index: -1;
}

/* About */

.aboutGrid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.aboutBody {
  font-family: ISO-Light;
  font-size: 1em;
  line-height: 22px;
  font-weight: lighter;
  padding-top: 50px;
}

.aboutFlowerOne {
  height: auto;
  width: auto;
  padding: 10px;
  transform: scale(3);
}

.aboutFlowerTwo {
  height: auto;
  width: auto;
  transform: scale(2);
}

/* Step One */

.flowerOne {
  position: fixed;
  background-position: top center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 800px;
  z-index: -1;
}

.infoOne {
  background-color: #D6D6D6;
  position: static;
  bottom:0;
  width:100%;
  height:575px;
  margin:0;
  padding:0;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.leafOne {
  width: 420px;
  height: 420px;
  padding: 0px 100px 100px 160px;
}

.instruction {
  font-family: ISO-Light;
  font-size: 1em;
  line-height: 22px;
  font-weight: lighter;
  padding: 20px 160px 100px 20px;
}

.header-container {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  justify-content: center;
}

.headerOne {
  font-family: magpie, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding-top: 30px;
  padding-left: 190px;
  padding-bottom: -50px;
}

.headerTwo {
  font-family: ISO;
  padding: 45px 180px 30px 255px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: .5px;
  border-color: black;
}

.footerOne {
  background-color: #D6D6D6;
  font-family: ISO-Light;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  width: 100%;
}

.greyLogo {
  height: 35%;
  width: 8%;
  position: absolute;
  padding: 35px 80px 40px 80px;
}

.about {
  padding: 40px 80px 35px 0px;
  font-family: ISO-Light;
  color: #939598;
}

.copyright {
  padding: 40px 80px 35px 40px;
  font-family: ISO-Light; 
  color: #939598;
}

.footerLink:hover {
  content: url(file:///Users/emilyklaebe/Desktop/Coding/Project-One-Playground/images/artifacts-black-logo.png);
  height: 35%;
  width: 8%;
  position: absolute;
  padding: 35px 80px 40px 80px;
}

/*
.footerAboutLink:hover {
  color: black;
} */

/* Step Two */

.flowerTwo {
  position: fixed;
  background-position: top center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 800px;
  z-index: -1;
}

.infoTwo {
  background-color: #D6D6D6;
  position: static;
  bottom:0;
  width:100%;
  height:575px;
  margin:0;
  padding:0;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.leafTwo {
  transform: rotate(-10deg);
  width: 280px;
  height: 500px;
  padding: 0px 200px 60px 100px;
}

.instructionTwo {
  font-family: ISO-Light;
  font-size: 1em;
  line-height: 22px;
  font-weight: lighter;
  padding: 20px 100px 100px 200px;
}

.listTwo {
  list-style-type: decimal;
  padding-left: 28px;
}

/* Step Three */

.flowerThree {
  position: fixed;
  background-position: top center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 800px;
  z-index: -1;
}

.headerTwoThree {
  font-family: ISO;
  padding: 75px 180px 30px 240px;
}

.grid-containerThree {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 40px;
}

.infoThree {
  background-color: #D6D6D6;
  position: static;
  bottom:0;
  width:100%;
  height:575px;
  margin:0;
  padding:0;
  z-index: -1;
}

.instructionThree {
  font-family: ISO-Light;
  font-size: 1em;
  line-height: 22px;
  font-weight: lighter;
  padding: 20px 40px 100px 200px;
}

.columnTwo {
  font-family: ISO-Light;
  font-size: 1em;
  line-height: 22px;
  font-weight: lighter;
  padding: 130px 200px 100px 0px;
}

.leafThree {
  width: 290px;
  height: 100px;
  padding: 10px 0px 0px 0px;
}

.listThree {
  list-style-type: decimal;
  padding-left: 28px;
}
