nav {
    font-family: Roboto Mono;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 40px 80px;
    border: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  padding-top: 175px;
}

a: {
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #E8E8E8;
}

a:active {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

body {
  background-color: #E8E8E8;
}

footer {
    bottom: 0;
    padding-top: 200px;
    text-align: center;
    font-weight: lighter;
}

footer p {
    font-size: 1em;
    font-family: Roboto Mono;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
    bottom: 0;
    padding: 10px;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  padding-bottom: 20px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; 
  z-index: -1;
}