/* Global Styles */

@font-face {
font-family: "ISO";
src: url("../fonts/ISOv0.6-Regular.eot");
src:
url("../fonts/ISOv0.6-Regular.woff") format("woff"),
url("../fonts/ISOv0.6-Regular.otf") format("opentype"),
url("../fonts/ISOv0.6-Regular.svg#filename") format("svg");
}

nav {
    font-family: ISO;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 40px 80px;
    border: none;
}

a: {
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #D6D6D6;
}

a:active {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

body {
  background-color: #D6D6D6;
  max-height: 1400px;
  scroll-behavior: smooth;
}

/* Homepage */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  padding-top: 175px;
}

footer {
    text-align: center;
    font-weight: lighter;
}

footer p {
    font-size: 1em;
    font-family: ISO;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
    padding-top: 235px;
}

footer img {
  display: block;
  position: fixed;
  bottom: 0;
  padding: 0px 630px;
  width: 1%;
  height: 1%;
  padding-bottom: 40px;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; 
  z-index: -1;
}

/* Step One */

.flowerOne {
  position: fixed;
  background-position: top center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 800px;
  z-index: -1;
}

.infoOne {
  background-color: #D6D6D6;
  position: fixed;
  bottom:0;
  width:100%;
  height:575px;
  margin:0;
  padding:0;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.leafOne {
  width: 420px;
  height: 420px;
  padding: 0px 100px 100px 160px;
}

.instruction {
  font-family: ISO;
  font-size: 1em;
  line-height: 22px;
  font-weight: lighter;
  padding: 20px 160px 100px 20px;
}

.header-container {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  justify-content: center;
}

.headerOne {
  font-family: magpie, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding-top: 60px;
  padding-left: 190px;
  padding-bottom: -50px;
}

.headerTwo {
  font-family: ISO;
  padding: 75px 180px 30px 255px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: .5px;
}

/* Step Two */

.flowerTwo {
  position: fixed;
  background-position: top center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 800px;
  z-index: -1;
}

.infoTwo {
  background-color: #D6D6D6;
  position: fixed;
  bottom:0;
  width:100%;
  height:575px;
  margin:0;
  padding:0;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.leafTwo {
  transform: rotate(-10deg);
  width: 200px;
  height: 420px;
  padding: 0px 100px 100px 300px;
}

.instruction {
  font-family: ISO;
  font-size: 1em;
  line-height: 22px;
  font-weight: lighter;
  padding: 20px 160px 100px 20px;
}

.listTwo {
  list-style-type: decimal;
  padding-left: 28px;
}
